@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }

  body{
    background-color:hsl(207, 26%, 17%) ;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    cursor: pointer;
  }
  body.light-theme{
    background-color: hsl(0, 0%, 98%);
    color:  hsl(200, 15%, 8%);
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  hsl(209, 23%, 22%);
    padding:10px 20px;
  }
  body.light-theme .header {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
  }
  
  body.light-theme .details {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
  }
  body.light-theme .filter .form-control input {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
  }
  body.light-theme .filter .form-control input::placeholder {
    color: hsl(200, 15%, 8%);
  }
  body.light-theme .filter .region-filter .select {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
  }
  .filter{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .filter .form-control{
    width: 100%;
  }
  .filter .form-control input{
    background-color:  hsl(209, 23%, 22%);
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0 0 30px;
  }
  .filter .form-control input::placeholder{
    color: white;
  }
 
  .filter .region-filter .select{
    background-color:  hsl(209, 23%, 22%);
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .country-flag {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
  }
  .grid{
    display: grid;
    grid-template-columns:  1fr;
    gap: 40px;
    padding: 20px;
  }
  .grid article img{
    border-radius: 5px 5px 0 0;
  }
  .grid .details{
    background-color:   hsl(209, 23%, 22%);
    padding: 20px;
    margin-top: -10px;
    border-radius: 0 0 5px 5px;
  }
  .grid .details h3{
    padding-bottom: 10px;
  }
  .grid .details h4{
    padding-bottom: 5px;
  }
  .search {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i {
  position: absolute; 
  right: 10px; 
  cursor: pointer; 
  font-size: 1.2em; 
}
  @media (min-width:640px) {
    .filter{
        flex-direction: row;
       
    }
    .filter .form-control{
        width: auto;
    }
    .filter .form-control input{
        width: auto;
        margin: 0;
    }
    .filter .region-filter{
        width: auto;
      }
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .search {
      position: relative; 
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .search i{
    margin-top: 25px;
  }
}
  @media (min-width:768px) {
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
  }
  @media (min-width:992px) {
    .header, .filter, .grid{
        padding: 20px 100px;
    }
    .grid{
        grid-template-columns: repeat(4,1fr);
        gap: 60px;
    }
    .search {
      position: relative; 
      display: flex;
      align-items: center;
      justify-content: center;
  }
  }
  @media (min-width:375px){
    .search i{
      text-align: center;
      justify-content: center;
      margin-bottom: 25px;
    }
  }